<footer>
    <div class="iconbox">
        <div class = "icon">
            <a href="https://www.instagram.com/sia.mru/?igsh=MXN5NDV0anFubDFnYQ%3D%3D#" target = "_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>

        <div class = "icon">
            <a href="mailto:sisterhood.in.action1@gmail.com" target = "_blank">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>

        <div class = "icon" >
            <a href="https://chat.whatsapp.com/i58evzgdoybby8vjh7y0kg" target = "_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div> 
    </div>


    <div class="madewith">Made with ♡ by Nili</div>

</footer>